<label id="example-radio-group-label">Pick your favorite Broadcasting Corporation:</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]= "favoriteCorporation">
  <mat-radio-button class="example-radio-button" *ngFor="let corporation of corporations" [value]="corporation">
    {{corporation}}
  </mat-radio-button>
  <mat-error *ngIf="!(corporations.includes(favoriteCorporation))"> Your favorite broadcasting corporation is required and Must be one of these broadcasting corporation:'BBC', 'CNN', 'NBC' </mat-error>
</mat-radio-group>
<div>Your favorite Broadcasting Corporation is: {{favoriteCorporation}}</div>
