<p *ngIf = "!(weatherData$ | async)&&!hasError">Loading data..</p>
<mat-card class="example-card">
  <mat-card-header>
    <div  class="example-header-image"></div>
    <mat-card-title *ngIf = "!hasError">Temperatures in {{city}}</mat-card-title>
    <mat-card-title *ngIf = "hasError">{{errorMessage}}</mat-card-title>
    <mat-card-subtitle *ngIf = "!hasError">{{country}}</mat-card-subtitle>
  </mat-card-header >
  <img *ngIf = "!hasError" mat-card-lg-image src="{{image}}" alt="Temperature">
  <mat-card-content *ngIf = "!hasError">
    <p>
      current temperature in {{city}} in the state of {{country}} is {{(weatherData$ | async).temperature | number:'1.0-0'}}º
    </p>
    <mat-card-subtitle *ngIf = "!hasError">latitude: {{lat}} <br>longitude: {{lon}}</mat-card-subtitle>
  </mat-card-content>
  <a routerLink="/city" routerLinkActive="active">Select city</a>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>